//- -*- tab-width: 2; indent-tabs-mode: nil -*-
:markdown
  | ## Antares
  | 
  | **Antares** is a port of the original Ares code base that was open sourced in 2008.  Antares is
  | an extremely faithful reproduction of the original Ares experience, making changes only as
  | necessary to support running on modern computers.
  | 
  | Antares has a [Google Code project page][google-code].  Bugs and feature requests should be
  | submitted to its [issue tracker][issues].
  | 
  | >
  | > The latest version of Antares is 0.3.1, released 16 January, 2011.  It is licensed under the
  | > [GNU General Public License 2.0][gpl].
  | >
  | > * Download [Antares 0.3.1 for Mac OS X][download-osx].
  | > * Download the [Antares 0.3.1 sources][download-source].
  | >
  | {: .gpl}
  | 
  | [open-source]:        /open-source
  | [gpl]:                http://creativecommons.org/licenses/GPL/2.0/
  | [download-osx]:       http://downloads.arescentral.org/Antares/Antares-0.3.1.zip
  | [download-source]:    http://downloads.arescentral.org/Antares/Antares-Source-0.3.1.zip
  | [issues]:             http://code.google.com/p/antares/issues/list
  | [google-code]:        http://code.google.com/p/antares/

h3 Screenshots
#antares-screenshots.screenshots
  :javascript
    | window.addEvent('domready', function() {
    |   AresCentral.loadScreenshots('antares-screenshots', '1519223@N24');
    | });
