//- -*- tab-width: 2; indent-tabs-mode: nil -*-
:markdown
  | ## Antares
  | 
  | **Antares** is a port of the original Ares code base that was open sourced in 2008.  Antares is
  | an extremely faithful reproduction of the original Ares experience, making changes only as
  | necessary to support running on modern computers.
  | 
  | >
  | > The latest version of Antares is 0.3.0, released 16 September, 2010.  It is licensed under
  | > the [GNU General Public License 2.0][gpl].
  | >
  | > * Download [Antares 0.3.0 for Mac OS X][download-osx].
  | > * Download the [Antares 0.3.0 sources][download-source].
  | >
  | {: .gpl}
  | 
  | [open-source]:        /open-source
  | [gpl]:                http://creativecommons.org/licenses/GPL/2.0/
  | [download-osx]:       http://antares.googlecode.com/files/Antares-0.3.0.zip
  | [download-source]:    http://antares.googlecode.com/files/Antares-Source-0.3.0.zip

h3 Screenshots
#antares-screenshots.screenshots
  :javascript
    | window.addEvent('domready', function() {
    |   AresCentral.loadScreenshots('antares-screenshots', '1519223@N24');
    | });
