//- -*- tab-width: 2; indent-tabs-mode: nil -*-
:markdown
  | ## Ares: space action and strategy
  | 
  | Ares is an open-source tactical space-combat game by Nathan Lamont.
  | {: .apollo}

h3 Recent News
!= partial('article.jade', page.articles)
